@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a0f17;
  --primary: #F603A3;
  --secondary: #F603A3;

  --primary-accent: #d10089;
  --accent-pink: #FF8AD8;
  --accent-green: #03F656;
  --foreground-accent: #6b5560;
  --hero-background: #fdf2f9;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-be-vietnam-pro), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}
